
<?xml version="1.0" encoding="UTF-8"?>
    <widget xmlns = "https://www.w3.org/ns/widgets"
    xmlns:gap= "https://phonegap.com/ns/1.0"
    id        = "com.carneantigua.app"
    android-versionCode="1"
    version   = "1.0.0">

    <name>Antigua Production</name>
    <description>
    App diseñada para la producción de carne seca la antigua
    </description> 
    <author href="upgrade.com.mx" email="info@upgrade.com.mx">
    Upgrade Diseño Interactivo
    </author>
    <!--<platform name="android">
    <resource-file src="google-services.json" target="app/google-services.json" />
    </platform> -->

    <platform name="android" />
    
    <preference name='phonegap-version' value='cli-9.0.0' />

    

    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="Disallowsscroll" value="true"/>
    <preference name="disallowOverscroll" value="true" />

    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashScreenDelay" value="1200" />
    <preference name="FadeSplashScreenDuration" value="200"/>


    <!-- Android -->
    <platform name="android">
    <preference name="android-installLocation" value="auto"/>
    <preference name="android-targetSdkVersion" value="30" />
    </platform>

    <platform name="android">
        <icon src="resources/android/icon/36x36.png" density="ldpi"/>
        <icon src="resources/android/icon/48x48.png" density="mdpi"/>
        <icon src="resources/android/icon/72x72.png" density="hdpi"/>    
        <icon src="resources/android/icon/96x96.png" density="xhdpi"/>
        <icon src="resources/android/icon/144x144.png" density="xxhdpi"/>
        <icon src="resources/android/icon/192x192.png" density="xxxhdpi"/> 
        <icon src="resources/android/icon/192x192.png" density="xxxhdpi"/> 
        <icon src="resources/android/icon/512x512.png" /> 
    </platform>


    <platform name="android">
        <splash src="resources/android/splash/320x240.png" density="ldpi"/>
        <splash src="resources/android/splash/480x320.png" density="mdpi"/>
        <splash src="resources/android/splash/800x480.png" density="hdpi"/>
        <splash src="resources/android/splash/1280x720.png" density="xhdpi"/>
        <splash src="resources/android/splash/1600x960.png" density="xxhdpi"/>
        <splash src="resources/android/splash/1920x1280.png" density="xxxhdpi"/>

        <splash src="resources/android/splash/240x320.png" density="ldpi"/>
        <splash src="resources/android/splash/320x480.png" density="mdpi"/>
        <splash src="resources/android/splash/480x800.png" density="hdpi"/>
        <splash src="resources/android/splash/720x1280.png" density="xhdpi"/>
        <splash src="resources/android/splash/960x1600.png" density="xxhdpi"/>
        <splash src="resources/android/splash/1280x1920.png" density="xxxhdpi"/>
    </platform>

    <preference name="permissions" value="none"/>

    <plugin name="cordova-plugin-camera" spec="~6.0.0" source="npm"/>
    <plugin name="cordova-plugin-device" spec="~2.0.3" source="npm"/>
    <plugin name="cordova-plugin-dialogs" spec="~2.0.2" source="npm"/>
    <plugin name="cordova-plugin-geolocation" spec="~4.1.0" source="npm"/>
    <plugin name="cordova-plugin-inappbrowser" spec="~3.1.0" source="npm"/>
    <plugin name="cordova-plugin-network-information" spec="~2.0.2" source="npm"/>
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.3" />
    <plugin name="cordova-plugin-cleartext" spec="~1.0.0" source="npm" />
    <plugin name="cordova-plugin-android-photo" spec="~5.0.0" source="npm"/>

    <plugin name="cordova-plugin-telerik-imagepicker" spec="~2.3.6" />




    <plugin name="cordova-plugin-statusbar" spec="~2.4.3" />
    

    <content src="index.html" />


    <plugin name="cordova-plugin-whitelist" spec="~1.2.1" source="npm"/> 

    <access origin="*" subdomains="true"/>
    <access origin="*.pushwoosh.com"/> <!-- allow pushwoosh service -->
    <access origin="whatsapp:*" launch-external="yes" />
    <allow-intent href="http://*/*"/> 
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="whatsapp:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <platform name="android">
    <allow-intent href="market:*"/>
    </platform>
    <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
    </platform>


    
</widget>