/* ipad  pantallas */


/*login*/
		#login-form{
		 	margin:auto !important;
		 	box-shadow: rgba(0, 0, 0, 0.5) 3px 10px 10px !important;

		}


		.space_element-index{
			margin: 50px auto !important;
			text-align: center !important;
		}


		.space_element-index img{
			width: 150px !important;

		}


	    .login_btn, .logout_btn{
	    	font-size: 1.1em !important;
	    }


/*tabbar*/
	    .tabbar{
	    	height: 75px !important;
	    }


	    .custom-ico{
  			background-size: 50px !important;
 		}


 		.bottom_box {
 			height: 90px !important;
 		}



/*Form record*/

		#capture{
			text-align: center !important;
			font-size: 1.1em !important;
		}

		#capture-spanish{
			text-align: center !important;
			font-size: 1em !important;

		}

		#record_name{
			margin-bottom: 0px !important;

		}

		#div-capture{

		}


		#input-text{
			margin-bottom: 0 !important;
			width: 300px !important;
		}


		.text-a{
			width: 95% !important;
			height: 200px !important;
		}

		#history{
			text-align: center !important;
		}



		.btn-insert{
			font-size:1.5em !important;
		}



		.main_container.w_header{
			margin-bottom: 100px !important;
		}


		nav.crop_menu_container ul li {
			     width: 75% !important;
		}




.f{
  margin: 130px auto 100px auto;
height: calc(100% - 210px) !important;


}



/*  SELECT*/
select{
 
    padding: 22px 32px 22px 16px;
}


.input_test{
	height: 80px !important;
}



#start-croom, .finish_crop_step, #next_cr_break, .finish_crop_break{

font-size: 1.2em !important;

}