
  /* - - - - - - - - - - - - - - -
CSS principal
Desarrollado por: Upgrade Diseño Interactivo
Para:
Fecha: 4/10/2021
Ultima modificación por: Selene Herrrera
Fecha:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */

/*F O N T S */

@font-face {
    font-family:'source_light';
    src: url('../fonts/source_light.eot');
	  src: url('../fonts/source_light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/source_light.woff2') format('woff2'),
		url('../fonts/source_light.woff') format('woff'),
		url('../fonts/source_light.svg#source_light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'source_bold';
    src: url('../fonts/source_bold.eot');
	src: url('../fonts/source_bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/source_bold.woff2') format('woff2'),
		url('../fonts/source_bold.woff') format('woff'),
		url('../fonts/source_bold.svg#source_bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'source_regular';
    src: url('../fonts/source_regular.eot');
	src: url('../fonts/source_regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/source_regular.woff2') format('woff2'),
		url('../fonts/source_regular.woff') format('woff'),
		url('../fonts/source_regular.svg#source_regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

/* P R E P A R A T I O N *
html, body{ margin:0px; padding:0px;
  -webkit-overflow-scrolling : touch !important;
      overflow: auto !important;
      height: 100% !important; }

.safe-top-container{
  width: 100%;
  height: 100%;
  padding-top: constant(safe-area-inset-top); /* iOS 11.0  */
  padding-top: env(safe-area-inset-top);
  box-sizing: border-box;
  text-align: 10px;
}
.p_font{
  
  color: rgb(160 139 158);
  font-size: 0.8em;
  text-align: left;
  padding-top: 0.5%;

}


.safe-top {
  padding-top: constant(safe-area-inset-top) !important; /* iOS 11.0  */
  padding-top: env(safe-area-inset-top) !important;
  box-sizing: border-box;
}
.page__background { background-color: #ececec; } 
 

.text_center {text-align: center;}
.text_right {text-align: right;}
.text_bold { font-family: 'source_bold'; }
.blue_text { color:#9EBBE7; }

/* GENERAL */

.segment--material__button, .segment--material__item:first-child>.segment--material__button, .segment--material__item:last-child>.segment--material__button, :active+.segment--material__button {
border-width: 0;
border-radius: 0;
font-size: 0.7em;
}

a { text-decoration: none; }
*:focus{
    outline: none;
}
.pad1{
  box-sizing: border-box;
  padding: 10px;
}

.tabbar{
  /*background: #ededed;*/
  height: 60px;
  box-sizing: border-box; 
  
}
.tabbar.large {height: 75px;}

.tabbar.iphonex {
  height: 100px; 
  padding-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
  padding-bottom: env(safe-area-inset-bottom);
}

.tabbar__border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 6px;
    background-color: #f48e30 !important;
}

	/* botton_box instead of tabbar */
	.bottom_box {
		display: flex;
		align-items: center;
		justify-content: center;
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 60px;
		background-color: #fafafa;
		border-top: 1px solid #ccc;
	}
	.bottom_box.iphonex {
		height: 100px; 
		padding-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
 		padding-bottom: env(safe-area-inset-bottom);		
	}


h1{
  font-family: 'source_bold' !important;
  }

h1.main_t { margin: 10px 0px !important; }


  h1.white{
    color: #ffffff;
    text-indent: 1em; 
    z-index: 25;
  }

  h1.black{
    color: #000000;
    /*text-indent: .1em; */
    text-align: 15px;/*
    padding-top: 25%;
    padding-bottom: 5%; */

  }
   
   h1.black_without{
    color: #000000;
    font-size: 2.5em;
    margin: .1em 0; 
    min-height: 55px;
    font-family: 'source_bold';
     
  }
  h1.tittle_menu{
    color: #FFF;
    margin-bottom: 5px;
    font-size: 20px;

  }

   h1.tittle_name{
    color: #FFF;
    margin-bottom: 5px;
    font-size: 20px;
    
  }

  h3.ext{
font-size: 1.1em; color: #da5053; font-family: 'source_bold'; text-shadow: 0 0 #000;
  }


	p{
	  font-family: 'source_regular';
	  font-weight: normal;
    line-height: 0;
	}
  
  p.log{
    font-size: 1.3em;
    font-weight: bold;
    color: #ba9a27;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }

  .exit{
  margin: 20px 0px 0px 20px; 
  align-items: center; 
  display: flex;
}

.head-sbt{
  display: block;
  position: relative;
  box-sizing: border-box;
  /*margin: 30 auto;
  padding: 10px 5px 0px 10px;*/
  margin: 30px auto;
  width: 90%;

  color: #FFF;
}

.head-sbt-start{
    display: block;
    position: relative;
    box-sizing: border-box;
    margin: 30 auto;
    padding: 14px 0px 0px 18%;
    width: 90%;
    color: #FFF;
    margin: 30px auto;

}

.article-sbt{
  font-family: 'source_regular' !important;
  font-weight: bold !important;
  margin: 0px;
}


ul{
	list-style-type: none;
	margin: 0;
 	padding: 0;
}

 .text-a{
  height: 100px;
  border: none;
  width: 224px;
  margin: 0; 
  padding-left: 0; 
  padding-right: 0;
  text-align: center;
  font-size: 1.1em;
  padding-top: 11px;
  border-radius: 5px;
}
/*lOGIN*/

#page_login {
  opacity: 1;
  /*transition: all 1 ease;*/
}

#page_register .page__background { background-color: #ececec; }  

#page_login .page__background { /*background-color: #2f2f2f;*/ background-color: #ececec; }  

#page_recover .page__background { background-color: rgb(1, 125, 190); }  

/*
#other .page__background { background-color: #005A84; }  
*/






.login_bg { position: relative; z-index: -1; min-height: 25px; }

.login_title{
  font-size: 2.2em !important;
}
#login-form{
    position: relative;
    width: 77%;
    box-shadow: rgba(0,0,0,.1) 0px 10px 20px;
    padding: 0px 25px 25px;
    padding-top: 13%;
    z-index: 100;
    margin: 10% 18px;
    border-radius: 22px;
}

#update_form{
    position: relative;
    width: 94%;
    /*box-shadow: rgba(0,0,0,.1) 0px 10px 20px;*/
    padding: 0px 25px 25px;
    padding-top: 35px;
    padding-bottom: 40px;
    z-index: 100;
    margin: 5% 156px;
    box-sizing: border-box;
}

#login-white{
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#logo-box{
    position: relative;
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
    
}
    .logo{
      width: 170px;
      display: block;
      margin: 0 auto;
      /*margin-bottom: 2em;*/  
      /*padding-top: 40%;*/
      padding-bottom: 2%;

    }

#register-form{
  position: relative;
    width: 88%;
    margin: 0 auto;
    box-shadow: rgba(0,0,0,.1) 0px 10px 20px;
    z-index: 100; 
    padding: 0px 25px 25px 25px;
   
}


.d_register{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    box-sizing: border-box; 
}


.pag {
  position: relative;
  margin: 0 auto;
  z-index: 100;  
  max-width: 450px;
  background-color: transparent;

}

.pag2 {
  position: relative;
  margin: 0 auto;
  z-index: 100;  
  max-width: 450px;
  background-color: transparent;
  display: none;

}

.invisible{
  display: none !important;
  
}

.invisible-gallons{
  display: none !important;
  
}

.invisible-hours{
  display: none !important;

}

#submit_login, #get_register { margin: 40px 0px;}

#developed_by a { font-size: .7em; color: #B1C6E6; }

/* HEADER */
.header-fixed{
	background-color: #2f2f2f;
	display: block;
	position: fixed;
	top: 0;
	overflow: hidden;
	width: 100%;
	z-index: 100;
	margin: 0;
	padding: 0;
	padding-top: constant(safe-area-inset-top); /* iOS 11.0  */
  	padding-top: env(safe-area-inset-top);
	height: 160px;
	/*box-sizing: border-box;*/
  /*box-shadow: rgba(0, 0, 0, .1) 0px 4px 4px;*/
  
}


.bg-black{ background-color: #1e1e1e !important; color:#FFF !important; }
.bg-transparent{ background-color: transparent !important; }
.header-fixed.short { height: 70px, }
  .header-fixed.bg-black { background-color: #1e1e1e; color:#FFF; }
.header-fixed.bg-black  .head-sbt {background-color: transparent; }
.head-sbt h1{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
font-size: 1.6em }



/* BG */

.bg-white{ background-color: #FFF !important; }

.bg-black{ background-color: #000000 !important; }

.bg-gray{ background-color: #EDEDED !important; }

.bg-purple{ background-color: #7d4b6e !important; }

.bg-blue{ background-color: #dceafd !important; }


.bg-gray-a { background-color: black !important; }


/* A M I  P R O D U C T I O N  A P P  */



/* HEADER */
.return_btn {
	display: flex;
	position: absolute;
	padding: 4px 10px;
	align-items: center;
	/*color: #005A84;*/
	top:20px;
	left: 20px;
	font-size: .9em;
	font-family: 'source_regular';
	background-color: rgba(255,255,255,.5);
	border-radius: 4px;
  border: none;
}
.return_btn.iphonex { top:50px; }

	.return_btn b { font-size: 1.3em; font-family: 'source_bold';}
.ami_logo {
	width: 130px;
	height: auto;
	display: block;
	float: right;
	/*margin: 20px 25px 0px 0px;*/
  /*margin: -50px 25px 0px 0px;*/
  margin:10px 35px 20px 0px;
}

	.head-sbt h1 { margin: 60px 0px 0px 10px; }
	.head-sbt h2 { font-size: .9em; margin: 0px 0px 0px 10px; }


/* C O N T A I N E R */

.main_container {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	padding-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
  	padding-bottom: env(safe-area-inset-bottom);
	overflow-y: auto;
	height: 100%;
}
	.main_container.vertical_center { display: flex; align-items: center; flex-direction: column; }
  .main_container.w_header { margin-top: 160px; margin-bottom: 50px;}

	.main_container.iphonex { padding-bottom: 50px; }
	.main_container.no_tab.iphonex { padding-bottom: 100px; }

	.p_instructions{
		color:#343434;
		margin-bottom: 20px;
    line-height: 1;
	}
		.p_instructions span{ font-family: 'source_bold';}


/* D O U B L E  M E N U */

p.spanish {
  font-size: 0.8em;
  color: #919191;
  line-height: 1;
  padding-top: 10px;
}

.instruc{
  /*line-height: 5px;*/
  padding-bottom: 0px;
  padding-top: 10px;
}

.record-done{
  /*background-color: rgba(0, 138, 203, 0.22) !important;*/
  background-color: rgb(244, 142, 48, 0.22) !important;
}

nav.double_menu_container {
	display: block;
	margin: 0px auto;
	width: 90%;
}

	nav.double_menu_container ul li {
		/*display: flex;*/
    
		width: 100%;
		/*height: 90px;*/
    height: 72px;
		background-color: #FFF;
		color: #4B4B4B;
		margin: 20px 0px;
		border-radius: 4px;
		box-shadow: rgba(0,0,0, .07) 0px 4px 5px;
		align-items: center;
		padding-left: 15px;
		box-sizing: border-box;
		position: relative;
    line-height: 8px;

	}




	nav.double_menu_container ul li span.time {
		  right: 10px;
   		position: absolute;
    	font-size: .8em;
	}

			nav.double_menu_container ul li img {
				position: absolute;
				display: block;
				width:40px;
				height: 40px;
				top:5px;
				right: 10px;
			}

      nav.double_menu_container ul li img.img-done{
          float: right !important;
          margin: 26px 0px 0px 0px !important;
          width: 30px !important;
          height: 30px !important;
          opacity: 0.6 !important;
      }

    .logout_btn {
      display: block;
      width: 250px;
      background-color: #da5053;
      color: #fff;
      font-weight: bold;
      font-family: 'source_light';
      letter-spacing: 3.5px;
      box-shadow: rgba(0,0,0,.1) 0px 2px 4px;
      padding: 10px 0px;
      /*margin-top: 30px;*/
      justify-content: center;
      border-radius: 8px;
      /*margin-left: 46px;*/
      border: none;
    }



    .login_btn {
        display: block;
        width: 250px;
        background-color: #a28520;
        color: #fff;
        font-weight: bold;
        font-family: 'source_light';
        letter-spacing: 3.5px;
        box-shadow: rgba(0,0,0,.1) 0px 2px 4px;
        padding: 10px 0px;
        border-radius: 8px;
        border: none;
    }
    

   /*
        .next_step_btn {
          display: block;
          width: 250px;
          margin: 0 auto;
          background-color: #005A84;
          color: #fff;
          font-weight: bold;
          font-family: 'source_light';
          letter-spacing: 1.5px;
          box-shadow: rgba(0,0,0,.5) 0px 2px 4px;
          padding: 10px 0px;
          border-radius: 8px;
          text-align: center;
          position: absolute;
          box-sizing: border-box;
          background-color: transparent;
          transition: all 5s;
          outline: none;
          -webkit-user-select: none;
        }

        .next_step_btn::before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #da5053;
          border-radius: 8px;

          
          transform: scaleX(0);
          transform-origin: 0 50%;
          transition-property: transform;
          transition-duration: 5s;
          transition-timing-function: linear;
        }
        .next_step_btn:active:before {
            border-radius: 8px;
            transform: scaleX(1);
        }
*/



 #next_step {
  display: none !important;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 16px 24px;
  border-radius: 5px;
  /*border-color: #005A84;*/
  /*background-color: transparent;*/
  color: #FFF;
  transition: all 3s;
  position: relative;
  outline: none;
  -webkit-user-select: none;
  background-color: rgba(0,90,132,0.7);
  display: block;
  width: 250px;
  margin: 0 auto;
  font-weight: bold;
  font-family: 'source_light';
  letter-spacing: 1.5px;
  box-shadow: rgba(0,0,0,.5) 0px 2px 4px;
  padding: 10px 0px;
  border-radius: 8px;
  text-align: center;

}

 #next_step::before {
  content: "";
  border-radius: 8px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #005A84;
  color: #FFF;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 1.5s;
  transition-timing-function: linear;
  
}
 #next_step:active:before {
    transform: scaleX(1);
    border-radius: 8px;
}
/*218 80 83*/
path{
  display:none;
}


        #finish_step {
          display: none;
          width: 250px;
          margin: 0 auto;
          background-color: rgb(218, 80 ,83 ,0.7);;
          color: #fff;
          font-weight: bold;
          font-family: 'source_light';
          letter-spacing: 1.5px;
          box-shadow: rgba(0,0,0,.5) 0px 2px 4px;
          padding: 10px 24px;
          border-radius: 8px;
          text-align: center;
          position: absolute;
          box-sizing: border-box;
          transition: all 3s;
          outline: none;
          -webkit-user-select: none;
 
        }

        #finish_step::before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #bf3c3f;
          border-radius: 8px;
          
          transform: scaleX(0);
          transform-origin: 0 50%;
          transition-property: transform;
          transition-duration: 1.5s;
          transition-timing-function: linear;
        }
        #finish_step:active:before {
              transform: scaleX(1);
              border-radius: 8px;
        }



 #start {
  display: none;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 16px 24px;
  border-radius: 5px;
  /*border-color: #03672b;*/
  /*background-color: transparent;*/
  color: #FFF;
  transition: all 3s;
  position: relative;
  outline: none;
  -webkit-user-select: none;
  background-color: rgba(16,162,81,0.7);
  display: block;
  width: 250px;
  margin: 0 auto;
  font-weight: bold;
  font-family: 'source_light';
  letter-spacing: 1.5px;
  box-shadow: rgba(0,0,0,.5) 0px 2px 4px;
  padding: 10px 0px;
  border-radius: 8px;
  text-align: center;

}

 #start::before {
  content: "";
  border-radius: 8px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #03672b;
  color: #FFF;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 1.5s;
  transition-timing-function: linear;
  
}
 #start:active:before {
    transform: scaleX(1);
    border-radius: 8px;
}



 #restart {
  display: none;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 16px 24px;
  border-radius: 5px;
  /*border-color: #005A84;*/
  /*background-color: transparent;*/
  color: #FFF;
  transition: all 3s;
  position: relative;
  outline: none;
  -webkit-user-select: none;
  background-color: rgba(206,114,20,0.7);
  display: block;
  width: 250px;
  margin: 0 auto;
  font-weight: bold;
  font-family: 'source_light';
  letter-spacing: 1.5px;
  box-shadow: rgba(0,0,0,.5) 0px 2px 4px;
  padding: 10px 0px;
  border-radius: 8px;
  text-align: center;

}

 #restart::before {
  content: "";
  border-radius: 8px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ab692c;
  color: #FFF;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 1.5s;
  transition-timing-function: linear;
  
}
 #restart:active:before {
    transform: scaleX(1);
    border-radius: 8px;
}


/* R O O M*/


/*start room*/
 #start_compost {
  display: none;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 16px 24px;
  border-radius: 5px;
  /*border-color: #03672b;*/
  /*background-color: transparent;*/
  color: #FFF;
  transition: all 3s;
  position: relative;
  outline: none;
  -webkit-user-select: none;
  background-color: rgba(16,162,81,0.7);
  display: block;
  width: 250px;
  margin: 0 auto;
  font-weight: bold;
  font-family: 'source_light';
  letter-spacing: 1.5px;
  box-shadow: rgba(0,0,0,.5) 0px 2px 4px;
  padding: 10px 0px;
  border-radius: 8px;
  text-align: center;

}

 #start_compost::before {
  content: "";
  border-radius: 8px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #03672b;
  color: #FFF;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 1.5s;
  transition-timing-function: linear;
  
}
 #start_compost:active:before {
    transform: scaleX(1);
    border-radius: 8px;
}

/*finish room*/

  #finish_compost {
          display: none;
          width: 250px;
          margin: 0 auto;
          background-color: rgb(218, 80 ,83 ,0.7);;
          color: #fff;
          font-weight: bold;
          font-family: 'source_light';
          letter-spacing: 1.5px;
          box-shadow: rgba(0,0,0,.5) 0px 2px 4px;
          padding: 10px 24px;
          border-radius: 8px;
          text-align: center;
          position: absolute;
          box-sizing: border-box;
          transition: all 3s;
          outline: none;
          -webkit-user-select: none;
 
        }

        #finish_compost::before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #bf3c3f;
          border-radius: 8px;
          
          transform: scaleX(0);
          transform-origin: 0 50%;
          transition-property: transform;
          transition-duration: 1.5s;
          transition-timing-function: linear;
        }
        #finish_compost:active:before {
              transform: scaleX(1);
              border-radius: 8px;
        }




.invisible-r{
  display: none !important;
  
}

.invisible-gallons-r{
  display: none !important;
  
}

.input_test_r{
  display: block;
  width:60%;
  background-color: #FFF;
  height: 50px;
  margin: 10px auto;
  border-radius: 6px;
}


/* E N D    R O O M*/



.input_test{
	display: flex;
	width:224px;
	background-color: #FFF;
	height: 50px;
	margin: 15px auto;
  border-radius: 6px;
  align-items: center;

}

#input_test {
	text-align: center;
  font-size: 1.1em;
  padding-top: 11px;
  border-radius: 5px;
  background-image: none;
}
	.text-input::-webkit-input-placeholder {
		text-align: center;
	}

.space_element-index{
  margin: 5% 31%;
}




/*  SELECT*/
select{
    /*width: 100%;*/
    margin: 0;
    border: none;
    display: block;
    font-size: 1.1em;
    padding: 5px;
    font-size: 1em;
    padding: 12px 32px 12px 16px;
    letter-spacing: 2px;
    color: #fff;
    border-radius: 8px;
    background: #2f2f2f url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2222%22%20viewBox%3D%220%200%2018%2022%22%3E%3Cpath%20d%3D%22M9%2017L2.07%205L15.93%205z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E) right 14px center no-repeat;
    width: 224px;
    -webkit-appearance: none;
    
}

#select-tandas{
      margin-top: 25px;
}

input{
    background-color: transparent;
    border: none;
    width: 88%;
    font-size: 1.1em;
    color: #ffffff
}

#forget_pass{
    justify-content: center;
    display: flex;
    font-size: 0.9em;
    font-weight: bold;
    color: #005A84;
}



/* R O O M      M E N U */

nav.room_menu_container {
  display: block;
  margin: 0px auto;
  width: 90%;
}

  nav.room_menu_container ul li {
    /*display: flex;*/
    width: 100%;
    height: 70px;
    background-color: #FFF;
    color: #4B4B4B;
    margin: 20px 0px;
    border-radius: 4px;
    box-shadow: rgba(0,0,0, .07) 0px 4px 5px;
    align-items: center;
    padding-left: 15px;
    box-sizing: border-box;
    position: relative;
    line-height: 8px;

  }



  nav.room_menu_container ul li span.time {
    right: 10px;
      position: absolute;
      font-size: .8em;
  }

      nav.room_menu_container ul li img {
        position: absolute;
        display: block;
        width:40px;
        height: 40px;
        top:5px;
        right: 10px;
      }

/* loader-45 */
.loader-45 .loader-container {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .loader-45 .loader-container::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgb(216, 81, 86);
    animation: moveBefore45 6s 6.0s infinite ease-in-out;
  }


@keyframes moveBefore45 {
 
  0%   { width: 10px; left: 0; right: auto; }
  25%  { width: 25%; left: 0; right: auto; }
  30%  { width: 30%; left: 0; right: auto; }
  50%  { width: 50%; left: 0; right: auto; }
  75%  { width: 75%; left: 0; right: auto; }
  80%  { width: 85%; left: 0; right: auto; }
  100% { width: 100%; left: 0; right: auto; }
}



/* Sombreado cuando el botón esté seleccionado/enfocado subprocess*/
.subprocess-confirm-true {
    font-family: 'nova_light';
    border-bottom: 1px solid rgb(0 56 168);
    color: rgb(0 24 72);
    width: 50%;
    padding-bottom: 10px;
}

.subprocess-confirm-false {
    font-family: 'nova_light';
    background-color: #fff;
    color: rgb(164 174 193);
    width: 50%;
    padding-bottom: 10px;
}
/*  fin cuando el botón esté seleccionado subprocess/*/



.nav-menu{
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 10px 0px;
  position: static;
  background-color: #ffffff;
  white-space: nowrap;
  border-radius: 9px;
  margin-top: 10px;
}
  .nav-menu .nav-menu-option{
    background-color: transparent;
    box-sizing: border-box;
    color:#a7bddd;
    display: inline;
    font-weight: 500;
    font-size: .9em;
    padding: 35px;
    /*overflow: scroll;*/
    border-radius: 9px;
  }
    .nav-menu .nav-menu-option.active{ color:#000; }

    .nav-menu .nav-menu-option.opt_length.active{ background-color: rgba(130, 130, 130, 0.59); border-radius: 9px;}
    .nav-menu .nav-menu-option.opt_color.active{ background-color: rgba(130, 130, 130, 0.59); border-radius: 9px;}
    .nav-menu .nav-menu-option.opt_squeeze.active{ background-color: rgba(130, 130, 130, 0.59); border-radius: 9px;}
    .nav-menu .nav-menu-option.opt_density.active{ background-color: rgba(130, 130, 130, 0.59); border-radius: 9px;}
    
    .nav-menu .nav-menu-option.opt_gray.active{ background-color: rgba(130, 130, 130, 0.59); border-radius: 9px;}

.nav-preferences{
  text-align: center;
}
  .nav-preferences .nav-preferences-option{
    font-weight: bold;
    color: #d8d8d8;
    margin: 0 5px;
  }
    .nav-preferences .nav-preferences-option.active{
      color:#000000;
    }



.modal {

background-color: rgba(0,0,0,.9);

}

/*****               P A R A M E T E R S                 ****/

.main_container_parameters{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom); 
    overflow-y: auto;
    height: 100%;
}

.main_container_parameters.vertical_center{
    display: flex;
/*    align-items: center;*/
    flex-direction: column;

}


.main_container_parameters.w_header{

  padding-top: 80px;
}


.segment--material {
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.12),0 2px 2px 0 rgba(0,0,0,.24);
  width: 350px; 
  margin: 0 auto; 
}


.sub-texture{
  margin-left: 15px;
}


.unit{
    font-size: 1.1em;
    background-color: transparent;
    border: none;
    width: 88%;
    font-size: 1.1em;
    color: #2f2f2f;
  }



h4.hibri-units{
  background-color: transparent;
  border: none;
  width: 88%;
  font-size: 1.1em;
  color: #343434;
  /*color: rgba(0, 155, 227, 0.44);*/
  justify-content: center;
  /* align-content: center; */
  display: flex;
}


input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}



.btn-insert{
  border-color: transparent !important; 
  padding: 14px 46%;
  background-color: transparent !important; 
  font-size: 18px; 
  font-weight: bold; 
  font-family: 'source_light';
}

.btn-invisible{
  display: none;
}







/* ESTILOS SUBIR PHOTO*/

.img-pers {
    width: 50%;
    height: 90px;
    display: flex;
    opacity: .5;
    background-color: #e2e2e1;
    margin: 5px auto;
}


.req-photo-input {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1f1f21;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 25%) 0px 1px 3px;
    text-shadow: 0 1px 1px rgb(0 0 0 / 25%);
    border-radius: 5px;
    width: 225px;
    padding: 10px;
   
}

.req-img {
    opacity: 0;
    position: absolute;
    width: 400px;
    height: 5%;
    cursor: pointer;
}

.align-fileinp {
    display: flex;
    width: 100%;
}



#select-bed{
    margin-left: 20px;
    align-items: center;
    display: flex;
}




#input_cooking_hours{
    display: flex;
    background-color: #FFF;
    height: 50px;
    align-items: center;
    text-align: center;
    font-size: 1.1em;
    border-radius: 5px;
    background-image: none;
    width: 80px;
}



#input_cooking_temp{
    display: flex;
    background-color: #FFF;
    height: 50px;
    align-items: center;
    text-align: center;
    font-size: 1.1em;
    border-radius: 5px;
    background-image: none;
    width: 80px;
}


#cooking{
  display: flex;
  margin-bottom: 15px;
}

.div-w{
      display: flex;
      align-items: center;
      width: 50%;
}


.div-w-left{
      margin-left: 40px;
}



video  {
  width: 192px;
  height: 192px;
  background: rgba(0,0,0,0.2);
  -webkit-transform: scaleX(-1); /* mirror effect while using front cam */
  transform: scaleX(-1);         /* mirror effect while using front cam */
}

#canvas  {
  width: 192px;
  height: 192px;
  -webkit-transform: scaleX(-1); /* mirror effect while using front cam */
  transform: scaleX(-1);         /* mirror effect while using front cam */
}
